body {
  margin: 0;
}

#miniMap {
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  aspect-ratio: 1/1;
  bottom: 15px;
  left: 15px;
  z-index: -1;
}

#lockCameraButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  transform: scale(1);
  rotate: 0deg;
  transition: transform 0.2s ease-in, rotate 0.2s ease-in;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='7' stroke-dasharray='25' stroke-dashoffset='12.5' stroke-linecap='square'/%3e%3c/svg%3e");
}

#lockCameraButtonIcon1 {
  width: 20%;
}

#circleCameraButton {
  position: absolute;
  border: 4px solid;
  border-radius: 50%;
  width: 33%;
  aspect-ratio: 1/1;
  transition: 0.5s ease-in;
}

#lockCameraButton:hover {
  transform: scale(1.2);
  rotate: 90deg;
}

.notActive {
  background-color: green;
}

.active {
  background-color: red;
}

/* Arrows */

#arrowBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

#topArrow {
  position: fixed;
  width: 50px;
  height: auto;
  aspect-ratio: 1/1;
  top: 20px;
  rotate: 225deg;
  border: 10px solid transparent;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
  border-radius: 8px;
  cursor: pointer;
}

#rightArrow {
  position: fixed;
  width: 50px;
  height: auto;
  aspect-ratio: 1/1;
  right: 20px;
  rotate: 225deg;
  border: 10px solid transparent;
  border-left: 8px solid white;
  border-bottom: 8px solid white;
  border-radius: 8px;
  cursor: pointer;
}

#bottomArrow {
  position: fixed;
  width: 50px;
  height: auto;
  aspect-ratio: 1/1;
  bottom: 20px;
  rotate: 225deg;
  border: 10px solid transparent;
  border-left: 8px solid white;
  border-top: 8px solid white;
  border-radius: 8px;
  display: none;
  cursor: pointer;
}

#leftArrow {
  position: fixed;
  width: 50px;
  height: auto;
  aspect-ratio: 1/1;
  left: 20px;
  rotate: 225deg;
  border: 10px solid transparent;
  border-right: 8px solid white;
  border-top: 8px solid white;
  border-radius: 8px;
  cursor: pointer;
}

#rightRotate {
  position: fixed;
  color: white;
  font-size: 10em;
  top: 20px;
  right: 40px;
  rotate: 45deg;
  cursor: pointer;
  display: none;
}

#leftRotate {
  position: fixed;
  color: white;
  font-size: 10em;
  top: 20px;
  left: 40px;
  rotate: -45deg;
  cursor: pointer;
  display: none;
}

#placementGridCont{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

#placementGrid{
  position: fixed;
  display: grid;
  height: 41vh;
  aspect-ratio: 1/1;
  /* transform-origin: center;
  transform: rotate(90deg); */
  grid-template-columns: repeat(10, 1fr);
  pointer-events: auto;
}

.grids{
  position: relative;
  border: 1px solid black;
}

#selectorUi {
  position: fixed;
  display: none;
  /* flex-wrap: wrap;
  flex-basis: 0; */
  bottom: 15px;
  left: 15px;
  width: 100px;
  height: fit-content;
  background-color: grey;
  z-index: 2;
}

.element{
  cursor: pointer;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  width: 100px; 
  height: 100px;
}

#saveProject{
  position: fixed ;
  bottom: 15px;
  left: 15px;
  margin-left: 30px;
  background-color: white;
  font-size: 20px;
  width: fit-content;
  padding: 0px 8px;
  height: 40px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
}

#saveProject:hover{
  box-shadow: 1px 1px 1px 1px gray;
}


